[Unit]
Description=Dusky Update Checker Service

[Service]
Type=oneshot
TimeoutStartSec=55s
TimeoutStopSec=2s
ExecStart=%h/user_scripts/update_dusky/update_checker/update_checker.sh --num --wait
ExecStartPost=%h/user_scripts/waybar/update_counter.sh --pacman --aur --dusky
