@import 'colors/colors.css';

* {
    border: none;
    border-radius: 0px;

    font-family: "Adwaita Sans", "JetBrainsMono Nerd Font Propo", sans-serif;
    font-weight: 700;
    font-size: 16px;

    min-height: 25px;
    padding: 0;
    margin: 0;
}

window#waybar {
    background: transparent;
}

.modules-center {
    background: @bg0;
    border-radius: 25px;
    padding: 0 12px;
}

tooltip,
tooltip.background,
tooltip decoration,
.tooltip {
    background: transparent;
    background-color: transparent;
    border: none;
    box-shadow: none;
    border-radius: 0;
}

tooltip label {
    color: @pri0;
    background-color: @bg0;
    padding: 6px 12px;
    border-radius: 15px;
}

#workspaces {
    padding: 6px 6px;
    margin: 0 0 0 12px;
}

#workspaces button {
    padding: 0px 6px;
    margin: 0px 3px;
    border-radius: 45px;
    background-color: @bg1;
    color: @bg1;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    background: linear-gradient(135deg, @grad-start 0%, @grad-end 100%);
    color: @bg0;
    min-height: 20px;
    min-width: 45px;
    transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
    background: linear-gradient(135deg, @grad-start 50%, @grad-end 100%);
    color: @bg0;
    min-width: 40px;
    background-size: 400% 400%;
}

#battery,
#pulseaudio,
#backlight,
#custom-pacman,
#network,
#clock,
#custom-weather,
#custom-media,
#window,
#custom-launcher,
#custom-notification,
#submap,
#power-profiles-daemon,
#custom-home-folder {
    background-color: @bg0;
    padding: 0 8px;
    margin: 0 5px;
    border-radius: 45;
    border: none;
    box-shadow: none;
}

#submap {
    color: @aqua;
}

#custom-launcher {
    color: @fg;
}

#clock {
    color: @fg0;
    font-size: 15px;
}

#mpris {
    color: @accent;
}

#pulseaudio {
    color: @orange;
    font-size: 14px;
}

#network {
    color: @purple;
    font-size: 14px;
}

#battery {
    color: @green;
    font-size: 14px;
}

#custom-notification {
    color: @fg0;
    font-size: 14px;
}
