[Desktop Entry]
Type=Application
Name=Battery Notify Timeout
GenericName=Battery Configuration
Comment=Configure Battery Timeout Settings
Exec=uwsm-app -- kitty --class config_bat_notify.sh -e /home/stefan/user_scripts/battery/notify/config_bat_notify.sh
Terminal=false
Categories=Settings;System;
Keywords=notification;battery;timeout;
Icon=preferences-system-power
StartupNotify=true
