[Desktop Entry]
Type=Application
Name=Waybar Swap
GenericName=Bar Config Switcher
Comment=Toggle between Waybar configurations
Exec=uwsm-app -- kitty --class waybar_swap_config.sh -e /home/stefan/user_scripts/waybar/waybar_swap_config.sh
Terminal=false
Categories=Settings;DesktopSettings;
Keywords=waybar;panel;bar;toggle;switch;
Icon=image-x-generic
StartupNotify=true
