[Desktop Entry]
Type=Application
Name=Pokemon TCG Live
Exec=waydroid app launch com.pokemon.pokemontcgl
Icon=/home/stefan/.local/share/waydroid/data/icons/com.pokemon.pokemontcgl.png
Categories=X-WayDroid-App;
X-Purism-FormFactor=Workstation;Mobile;
Actions=app-settings;

[Desktop Action app-settings]
Name=App Settings
Exec=waydroid app intent android.settings.APPLICATION_DETAILS_SETTINGS package:com.pokemon.pokemontcgl
Icon=/home/stefan/.local/share/waydroid/data/icons/com.android.settings.png
