[Desktop Entry]
Type=Application
Name=Dusky Color Presets
GenericName=Theme Presets & Palette Manager
Comment=Vibrant Material Design Color Presets & Palette Manager
Exec=foot --app-id=dusky_tui python3 /home/dusk/user_scripts/theme_matugen/tui_color_presets.py
Icon=preferences-desktop-theme
Terminal=false
Categories=Settings;DesktopSettings;Utility;
Keywords=dusky;presets;theme;color;matugen;material;palette;vivid;
StartupNotify=true
StartupWMClass=dusky_tui
